<!-- views/quizes/index.ejs -->

<form method="get" action="/quizes">
  <input type="text" name="search" />
  <input type="submit" value="Buscar" placeholder="Buscar preguntas" />
</form>

<table class="quiz_table">
<% var i; for (i=0; i<quizes.length; i++) { %>
  <tr>
    <td>
      <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
    </td>
    <td>
      <a href="quizes/<%= quizes[i].id %>/edit" >
        <input type="button" value="Editar" />
      </a>
    </td>
    <td>
      <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
        <input type="submit" value="Borrar" 
        onclick="return confirm('¿Seguro que quiere borrar la pregunta \'<%= quizes[i].pregunta %>\'? Esta acción no podra ser deshecha.')" />
      </form>
    </td>
  </tr>
<% } %>
</table>

<a href="/quizes/new"><input type="button" value="Crear pregunta" /></a>